body{
    background-color: rgb(203, 25, 25);
    color:white;
}
img{
    width: 474px;
    height: 474px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
button{
    background-color: rgb(130, 33, 33);
}