body{
    background-color: rgb(62, 49, 62);
    color:white;
}
img{
    width: 474px;
    height: 474px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
button{
    background-color: rgb(104, 104, 104);
}